{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "/pages/messages/paper-copy" %}

{% set pageHeading = "There is a problem saving your answer" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        classes: "nhsuk-u-margin-bottom-5"
      })}}

      <p>This may be a temporary problem.</p>

       {{ button({
        text: "Try again",
        classes: "nhsapp-button--secondary nhsapp-button",
        href: "#"
      }) }}

      <p>If the problem cotinues, we will send you a paper letter.</p>
      <p>You will be able to download the letter in your messages which will allow you to view it offline.</p>

       <p> <strong> For urgent medical advice</strong> </p>
      <p> Use <a href="https://111.nhs.uk" target="_blank" rel="noopener noreferrer" >111 online</a> or <a href= "tel:111">call 111</a> </p>

<p> <strong> For technical support </strong> </p>
      <p> Make a note of the error code <strong> 4cxxxx </strong> and then <a href="https://www.nhs.uk/contact-us/nhs-app-contact-us/" target="_blank" rel="noopener noreferrer" > contact the NHS app team. </a> </p>


    </div>
  </div>

  {% endblock %}
